<% if Helpers.is_logged_in?(session) %>
<h1>Welcome, <%=@user.username.capitalize%></h1>
	<h1>Edit Tweet</h1>

	<h2>Here is the Tweet:</h2>
	<p><%=@tweet.content%></p><br>

	<h2>Edit the Tweet:</h2>

	 <form action='/tweets/<%=@tweet.id%>' method="post">
	 	<input id="hidden" type="hidden" name="_method" value="patch">

	    <input type="text" name="content"><br>
	    
	    <input type="submit" name="submit" id="submit">

	 </form>
<% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>