<% if Helpers.is_logged_in?(session) %>
  <h1>Create a New Tweet</h1>

  <form action='/tweets' method="post">
    <h3>Tweet Content:</h3>
    <input type="text" name="content"><br>
    
    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>