<% if Helpers.is_logged_in?(session) %>
	<h1>Welcome, <%=@user.username.capitalize%></h1>
	<h2>Here is your Tweet:</h1>

	<p><%=@tweet.content%></p><br>

	<h3><a href="/tweets/edit">Edit Tweet</a></h3>

	<h3><a href="/tweets/delete">Delete Tweet</a></h3>

  <% else %>
      <h1> You Must Be Logged in to View Tweets </h1>
  <% end %>