<h1>Fwitter Signup Form</h1>
<h3>To read others' tweets and/or post your own, please fill-out the form completely & click "Signup."</h3>

  <form action='/signup' method='post'>
    <p><input type='text' id='username' name='username' placeholder='username'></p>
    <p><input type='text' id='email' name='email' placeholder='email'></p>
    <p><input type='password' id='password'></p>
    <p><input type='submit' value='Signup'></p>
  </form>