<h2>Login to your Fwitter account:</h2>

<form method ="POST" action="/login">

<label>username:</label>
<br>
<input type="text" name="username">

<br><br>

<label>password:</label>
<br>
<input type="text" name="password">

<br><br> 

<input type="submit" id="submit" value="Login!">

</form>