<h2>Sign up for a Fwitter account:</h2>

<form method ="POST" action="/signup">

<label>email:</label>
<br>
<input type="text" name="email">

<br><br>

<label>username:</label>
<br>
<input type="text" name="username">

<br><br>

<label>password:</label>
<br>
<input type="text" name="password">

<br><br> 

<input type="submit" value="Sign Up!">

</form>